/**
 *
 * General Styles for Single Post or Page
 *
 */

.content-area {
	padding-top: 4rem;
	padding-bottom: 4rem;

	@media (max-width: 800px) {
		// border: 4px solid red;
		img {
			display: block;
			clear: both;
			width: 100%;
			padding-bottom: 2rem;
		}
	}
}