/**
 *
 * STYLES: Hero Block 002 
 *
 */

#hero-block-mfw-002 {
 	width: 100vw;
 	height: 93vh;

 	.hero-info-box {
		// border: 1rem solid red;
		padding-top: 3rem;
		font-family: $primary-font;
		background-color: rgba(darken($cg-primary, 18%), .5);
		color: lighten($cg-secondary, 20%);
		.lead {
			color: lighten($cg-secondary, 20%);
			padding-bottom: 3rem;
			font-size: 2rem;
			line-height: 2rem;
		}
 	}
 }







































